{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class=" d-md-flex d-block mb-3">
    <div class="mt-4 mx-2 mx-md-auto col-md-8">
        <h1 class="text-center mb-3">WELCOME TO DAIRY <br> MANAGEMENT SYSTEM</h1>
        <div class="container-fluid p-md-5 p-4 border rounded border-2 border-mine">
            <div class="container">
                <h2>Sign Up</h2>
                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
                <a href="{% url 'login' %}">Already have an account? Login</a>
            </div>
        </div>
    </div>
</div>

<script>
    history.replaceState(null, null, "/");
</script>
{% endblock %}

